.subpage-banner .title{
  font-size: 50px;
  color: #000;
  font-weight: 500;
  margin: 0 0 30px 0;
}

.project-flex-container .title{
  font-size: 30px;
  color: var(--c1);
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

.project-flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-box{
  width: 48%;
  margin: 1%;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 15px 2px rgba(0,0,0,.3);
}

.project-title{
  margin: 0 0 25px 0;
  padding: 0;
  text-align: center;
  font-weight: 500;
}

.project-box img{
  max-width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

.project-description{
  margin: 0;
  padding: 20px 5%;
  color: #333;
}

.copy-source-container{
  display: flex;
  justify-content: space-around;
}

.copy-source-container input{
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
  width: 80%;
  background: #ccc;
  border: 1px solid #999;
  border-radius: 5px;
  color: #333;
}

.copy-source-container input:focus{
  border: 1px solid #555;
}

.copy-source-container button{
  padding: 10px;
  width: 15%;
  cursor: pointer;
  font-size: 15px;
  transition: .1s;
  outline: none;
  border-radius: 5px;
  border: 1px solid #555;
}

.view-project{
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: var(--c1);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  transition: .3s;
  margin-top: 20px;
}

.view-project:hover{
  filter: brightness(1.2);
}

.project-links{
  display: flex;
  justify-content: space-between;
}