html{
  scroll-behavior: smooth;
}

body{
  background: #fff;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

:root{
  --c1: #0055E1;
}

*{
  box-sizing: border-box;
  font-family: Calibri, Arial, sans-serif;
}

nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  color: #555;
}

.nav-title h1{
  display: inline-block;
  float: left;
  margin: 0;
  font-weight: 500;
  padding: 10px;
}

.back-to-projects{
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 13px 0 0 0;
  margin-bottom: -33px;
  color: #555;
}

.settings-btn, .account-btn{
  display: inline-block;
  float: right;
  padding: 13px;
  cursor: pointer;
}

.settings-btn:hover, .account-btn:hover{
  color: #000;
}

main{
  position: relative;
  top: 50px;
  background: #fff;
  width: 100%;
  height: calc(100% - 50px);
}

.side-menu-container{
  position: absolute;
  min-width: 300px;
  height: 100%;
  background: #fff;
  box-shadow: 3px 0 5px rgba(0,0,0,.05);
  z-index: 2;
}

.side-menu-container a{
  display: block;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  padding: 13px 20px;
  text-decoration: none;
  transition: .1s;
}

.side-menu-container a:hover{
  background: #e1e1e1;
}

.side-menu-breaker{
  height: 3%;
  width: 100%;
  background: #fff;
}

.main-output{
  position: absolute;
  top: 0;
  right: 0;
  flex-grow: 1;
  height: 100%;
  width: calc(100% - 300px);
  background: #ddd;
}

.main-nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(0,0,0,.0);
  z-index: 2;
}

.list-title{
  display: inline-block;
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  padding: 8px 20px;
  color: #333;
}

.list-options-btn{
  display: inline-block;
  float: right;
  height: 30px;
  width: 30px;
  margin: 10px 30px;
  border-radius: 5px;
  display: flex;
  padding: 11px 3px;
  cursor: pointer;
  transition: .3s;
  background: rgba(0,0,0,.5);
}

.list-options-btn:hover{
  background: rgba(0,0,0,.8);
}

.list-options-btn .op-dot{
  height: 4px;
  width: 4px;
  background: #fff;
  border-radius: 50%;
  margin: 2px;
}

.tasks-container{
  position: relative;
  top: 50px;
  margin: 0;
  height: calc(100% - 50px);
  padding: 40px 0;
  overflow-y: auto;
}

.task-box{
  width: 90%;
  margin: 7px auto;
  background: #fff;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  cursor: default;
  transition: .1s;
}

.task-box:hover{
}

.task-title{
  display: inline-block;
  margin: 0;
  padding: 7px 10px;
  font-weight: 500;
  font-size: 16px;
  color: #444;
}

.check-task{
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 8px;
  background: #e5e5e5;
  border: 1px solid #aaa;
  border-radius: 50%;
  cursor: pointer;
}

.check-task:hover{
  background: #ddd;
  border-color: #999;
}



.add-task-container{
  position: fixed;
  bottom: 0;
  right: 0;
  background: #fff;
  width: calc(100% - 300px);
  height: 50px;
  overflow: hidden;
  box-shadow: 0 -3px 10px rgba(0,0,0,.3);
  z-index: 2;
}

.add-task-container input[type="text"]{
  padding: 15px;
  border: none;
  outline: none;
  font-family: Calibri, Arial, sans-serif;
  width: calc(100% - 100px);
  font-size: 16px;
}

.add-task-container input[type="text"]:focus{
  border: none;
  outline: none;
}

.add-task-container button{
  display: inline-block;
  float: right;
  padding: 17px;
  border: none;
  background: #0055E1;
  color: #fff;
  cursor: pointer;
  width: 100px;
  transition: .2s;
}

.add-task-container button:hover{
  background: #003DA2;
}